html,
body,
.map-canvas {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    color: #999999;
}

p {
    font-weight: 400;
    line-height: 22px;
    color: #999999;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "proxima-nova", sans-serif;
}

h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.5px;

}

h5 {
    font-style: italic;
    font-weight: 600;
    text-transform: none;
}

.title {
    color: #454545;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: left;
    line-height: 34px;
    margin-bottom: 0px;
}

.itemHeader {
    font-weight: 600;
}

label {
    display: inline;
}

.searchbar {
    background-color: #FFF;
    width: 100%;
    z-index: 2;
    margin-top: 6px;
    position: relative;
    background-color: none;
    z-index: 2;
    overflow: auto;
    margin: 6px auto 0 auto;
    max-height: 100vh;
    top: -43px;
    left: -7px;
}

.filmInfoBox {
    position: relative;
    background-color: none;
    background-color: #fff;
    z-index: 2;
    overflow: auto;
    margin: 6px 30px 0 30px;
    padding: 0 15px;
    max-height: 100vh;
    padding-bottom: 15px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.icon-group {
    display: inline;
}

.panel {
    margin-bottom: 0;
    margin-left: 0;
    background-color: none;
}

.mapType {
    max-height: 25px;
}

.panel-body {
    padding: 15px 15px 15px 15px;
}

.panel-body-results {
    max-height: 550px;
    overflow: auto;
}

input {
    font-family: inherit;
}



.btn-group {
    padding-top: 10px;
}

.media-body {
    width: 50%;
}

.logo {
    color: none;
    background-color: none;
    border-color: none;
    top: -6px;
    left: 19px;
    letter-spacing: initial;
    position: absolute;
}

.sf {
    opacity: 0.7;
}

.logo-font {
    font-size: 15px;
    margin-top: 20px;
    color: #454545;
    font-weight: 900;
    line-height: 34px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-info {
    background-color: #999999;
    border: 1px solid #999;
}

.btn-info:hover {
    background-color: #FF5A5F;
    border: #FF5A5F;
}

.media-heading {
    color: #666;
    letter-spacing: 0px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 0;
}

.glyphicon {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    color: #999999;
}

.glyphicon:hover,
.locationLink:hover {
    color: #FF5A5F;
    cursor: pointer;
}

.poster-preview:after {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 150px);
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.quote {
    font-style: italic;
    font-weight: 600;
}

.text-wrap {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
}

.content-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.content-body {
    width: 80%;
    display: table-cell;
    vertical-align: top;
    margin-top: 0;
    padding-left: 5px;
}

.contentString {
    width: 300px;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-heading {
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0;
    max-height: 40px;
    overflow: hidden;
    letter-spacing: 1.5px;
}

.streetView {
    width: 80px;
    height: auto;
    border-radius: 100%;
}

.nyt-headline {
    font-weight: 700;
}

.nyt-img {
    display: table-cell;
    vertical-align: top;
}

.lead {
    font-size: 18px;
}

.overview {
  margin: 5px 0 23px 0;
}


scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: RGBA(42, 100, 150, .8);
}
.table {
    margin-bottom: 0;
}

.input-group-filter {
    width: 96%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.form-control-filter {
    width: 100%;
}

.input-group-btn-filter {
    width: 17%;
}

.btn-default-filter {
    width: 75%;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid transparent;
    color: #333;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.input-group-btn:last-child>.btn {
    margin-left: -6px;
}

.dropdown-menu>li>a {
    padding: 3px 10px;
}
.input-group-btn:last-child>.btn {
    margin-left: -2px;
}

.input-group-filter {
    width: 99%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.input-group-btn-filter {
    width: 17%;
}

.dropdown-menu>li>a {
    display: block;
    padding: 4px 0 4px 8px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.btn-default-filter {
    width: 60%;
}

.form-control-film {
    display: inline;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: #555; */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group {
        margin-top: 10px;
}
/*.form-control {
    margin-top: 10px;
display: inline;
    width: 73%;
}*/

/*.btn {
    width: 22.5%;
    display: inline;
}*/