    transform-origin: left top 0px;
    transform: scale(1) translate3d(0px, 0px, 0px);
    width: 1063px;
    height: 598px;
    transition: -webkit-transform 10600ms linear;


    <img src="https://image.tmdb.org/t/p/w1280/sPnG1FDAMkhzsOYRpT9MEF8ZkUv.jpg" alt="image3" style="transform-origin: left top 0px; transform: scale(1) translate3d(0px, 0px, 0px); width: 1063px; height: 598px;transition: -webkit-transform 10600ms linear;">


Can have a list of frequently used locations like http://www.filmsf.org/sf-locations has
linking to flickr:
https://www.flickr.com/search/?q=alamo+square

and streetView

have something that sorts that way??

https://api.themoviedb.org/3/movie/550?api_key=###&append_to_response=releases,trailers
theMovieDb.movies = {
    getTrailers: function (options, success, error) {
        'use strict';

        theMovieDb.common.validateRequired(arguments, 3, options, ["id"]);

        theMovieDb.common.validateCallbacks([success, error]);

        theMovieDb.common.client(
            {
                url: "movie/" + options.id + "/trailers" + theMovieDb.common.generateQuery(options)
            },
            success,
            error
        );
    },
};